### combine two tables

In [8]:
import pandas as pd

df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'], 'value1': [1, 2, 3, 4]})
df2 = pd.DataFrame({'key': ['B', 'D', 'E', 'F'], 'value2': [5, 6, 7, 8]})

# Inner merge (default): only rows with matching keys in both DataFrames
merged_df_inner = pd.merge(df1, df2, on='key', how='inner')
print("Inner Merge:\n", merged_df_inner)

# Left merge: all rows from df1, matching rows from df2
merged_df_left = pd.merge(df1, df2, on='key', how='left')
print("\nLeft Merge:\n", merged_df_left)

# Outer merge: all rows from both DataFrames, filling NaNs where no match
merged_df_outer = pd.merge(df1, df2, on='key', how='outer')
print("\nOuter Merge:\n", merged_df_outer)
# print("\nOuter Merge:\n", merged_df_outer)

Inner Merge:
   key  value1  value2
0   B       2       5
1   D       4       6

Left Merge:
   key  value1  value2
0   A       1     NaN
1   B       2     5.0
2   C       3     NaN
3   D       4     6.0

Outer Merge:
   key  value1  value2
0   A     1.0     NaN
1   B     2.0     5.0
2   C     3.0     NaN
3   D     4.0     6.0
4   E     NaN     7.0
5   F     NaN     8.0

In [2]:
# DataFrame.join() for Index-based Joins:
# This method is primarily used to combine DataFrames based on their indices, or a key column in one DataFrame and the index in another.


import pandas as pd

df1 = pd.DataFrame({'value1': [1, 2, 3]}, index=['a', 'b', 'c'])
df2 = pd.DataFrame({'value2': [4, 5, 6]}, index=['b', 'c', 'd'])

# Join on index
joined_df = df1.join(df2, how='outer')
print("Joined DataFrame:\n", joined_df)

Joined DataFrame:
    value1  value2
a     1.0     NaN
b     2.0     4.0
c     3.0     5.0
d     NaN     6.0

In [3]:
# pd.concat() for Concatenation:
# This function is used to stack DataFrames either vertically (row-wise) or horizontally (column-wise).

import pandas as pd

df1 = pd.DataFrame({'Name': ['Alice', 'Bob'], 'Age': [25, 30]})
df2 = pd.DataFrame({'Name': ['Charlie', 'David'], 'Age': [35, 40]})

# Vertical concatenation (stacking rows)
concatenated_rows = pd.concat([df1, df2], ignore_index=True)
print("Concatenated Rows:\n", concatenated_rows)

df3 = pd.DataFrame({'City': ['New York', 'Los Angeles'], 'Salary': [70000, 80000]})

# Horizontal concatenation (stacking columns)
concatenated_cols = pd.concat([df1, df3], axis=1)
print("\nConcatenated Columns:\n", concatenated_cols)

Concatenated Rows:
       Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40

Concatenated Columns:
     Name  Age         City  Salary
0  Alice   25     New York   70000
1    Bob   30  Los Angeles   80000